            body {
                margin-right: 100px;
                background: #eee !important;
            }

            h1 {
                text-align: center;
                margin-top: 50px;
                color: #448bff;
            }

            h4 {
                text-align: center;
            }

            .card {
                width: 17.5rem;
                height: 19rem;
                color: #448bff;
                margin-bottom: 2rem;
                align-items: center;
                position: relative;
            }

            .card-title,
            .card-subtitle {
                text-align: center;
            }

            .card img {
                width: 11rem;
                height: 11rem;
                margin-top: 15px;
                border-radius: 50%;
            }

            .name {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 50px;
                margin-bottom: 3px;
            }
