
.container-2{

    margin-top: 200px;
}
.container-2:hover{
    opacity: 1;
  }
  .news_body{background-image: url('../news.jpg');
    background-repeat: no-repeat;
    backface-visibility: visible;
    background-size:cover;
    background-attachment: fixed;
    background-position: center;
    opacity: .8;}
    .news {
        width: 160px
    }
    
    .news-scroll a {
        text-decoration: none
    }
    
    .dot {
        height: 6px;
        width: 6px;
        margin-left: 3px;
        margin-right: 3px;
        margin-top: 2px !important;
        background-color: rgb(207, 23, 23);
        border-radius: 50%;
        display: inline-block
    }
   
     
      
.mainPage{
    color: black !important;
    font-size:larger;

}
.btn_nav{
    font-size:larger;

}
.nav_brand{
    font-size:xx-large !important;

}
.btn_nav{
    background-color: rgb(216, 55, 55);
    color: white;
}.btn_nav:hover{
    background-color: rgb(129, 123, 123);
}

.btn-submit{
    background-color:rgb(48, 3, 48) ;
    color: aliceblue;
}
.body-form{
    background-color:rgb(245, 248, 250);
   padding: 30px;
   padding-top: 40px;;
}
